@font-face {
  font-family: Nova-Mono;
  src: url('./Fonts/Nova_Mono/NovaMono-Regular.ttf');
}
@font-face {
  font-family: Roboto-Mono;
  src: url('./Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}
@font-face {
  font-family: Rubik-Mono;
  src: url('./Fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  /* border: 1px solid red;     */
}

/*-----Header------*/
.Header {
  position: fixed;
  top: 0px;
  display: inline-flex;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0;
  color: black;
  border-bottom: solid 2px grey;
  box-shadow: 2px 5px 8px #888888;
  z-index: 3;
}
.title span {
  color: #FF4500;
}
.Header img {
  max-height: 70px;
}
.Header input {
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  border: solid grey 1px;
  width: 20vw;
  background-image: url('./img/search.png'); 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-position: left 5px top 5px;
  background-size: 25px;
}
.logo {
  margin-left: 10px;
   flex-basis: 60%; 
}
.title {
  flex-basis: 40%;
}
.SearchBar {
  margin-right: 10px;
}
/*----Selections------*/
.Selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Selections {
  margin-top: 90px;
  padding-bottom: 5px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  gap: 5vw;
}

 .active  .Best {
  background-image: url('/src/img/bestActive.png');
  z-index: 15;
 }  
 .active  .Hot {
  background-image: url('/src/img/hotActive.png');
  z-index: 15;
 }  

 .active  .New {
  background-image: url('/src/img/newActive.png');
  z-index: 15;
 }  



 .Best {
  width: 40px;
  height: 40px;
   background-image: url('/src/img/bestInactive.png'); 
  background-position: center;
  background-size: cover;
  border: none;
  background-color: white;
  cursor: pointer;
  
}

 .Hot {
  width: 40px;
  height: 40px;
  background-image: url('/src/img/hotInactive.png');
  background-position: center;
  background-size: cover;
  border: none;
  background-color: white;
  cursor: pointer;
}
.New {
  width: 40px;
  height: 40px;
  background-image: url('/src/img/newInactive.png');
  background-position: center;
  background-size: cover;
  border: none;
  background-color: white;
  cursor: pointer;
}

/*----MainPosts------*/
.PostMain {
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  

}
.Post-header {
  display: flex;
  justify-content: space-between;
  font-family: Roboto-Mono;
  padding: 5px 10px 0 10px;

}
.Post {
  margin:5px auto 5px ;
  width: 80vw;
  max-width: 650px;
  background-color: white;
  border-radius: 20px;
}

.Post-media .img {
  max-height: 50vh;
  min-height: 15vh;
  max-width: 500px;
  width: 50vw;
  height: 40vh;
  aspect-ratio: 1 / 1;
}
.Post-media .video, .youtube-container {
  max-height: 50vh;
  min-height: 15vh;
  width: 50vw;
  max-width: 500px;
  height: 40vh;
  aspect-ratio: 1 / 1;
}
.Post-media .embedly-embed {
  max-height: 50vh;
  min-height: 15vh;
  max-width: 500px;
  width: 50vw;
  height: 40vh;
  aspect-ratio: 1 / 1;
}
.Post-media .link-container {
  padding: 20px auto;
}
.Post-footer-container {
  display: flex;
  flex-direction: column;
}
.Post-footer {
  display: flex;
  justify-content: space-between;
  font-family: Nova-Mono;
  height: 2rem;
  padding: 5px 10px 0 10px;
}
.Post-footer-votes {
  display:inline-flex;
}
.Post-footer-votes img {
  width:16px;
  height: 16px;
}
.Post-footer-comments {
  display: inline-flex;
  gap: 5px;  
}
.Comments-image {
  width: 20px;
  height: 20px;
}
.Loading-container {
  text-align: center;
}
.Comment-loading {
  width: 50px;
  height: 30px;
}
/*-----Comments-----*/
.Comments {
  background-color: whitesmoke;
  border-top: solid gray 2px;
}

.Comment {
  margin: 10px auto;
  background-color: white;
  padding: 0 10px;
}
.Comment-header {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.Comment-body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
}
@media only screen and (min-width: 900px) {
  .Post-media .embedly-embed {
    margin-left: 5rem;
  }
  .Post-media .youtube-container {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 900px) {
  .Post-media .embedly-embed {
    margin-left: 15vw;
  }
  .Post-media .youtube-container {
    margin-left: 15vw;
  }
  .logo {
     flex-basis: 30%; 
  }
}
@media only screen and (max-width: 500px) {
  .logo {
    flex-basis: 15%; 
 }

}