
*{
  margin: 0;
  padding: 0;
  /* border: 1px solid red;     */
}

/*-----Header------*/
.Header {
  position: fixed;
  top: 0px;
  display: inline-flex;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0;
  color: black;
  border-bottom: solid 2px grey;
  box-shadow: 2px 5px 8px #888888;
  z-index: 3;
}
.title span {
  color: #FF4500;
}
.Header img {
  max-height: 70px;
}
.Header input {
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  border: solid grey 1px;
  width: 20vw;
  background-image: url('./img/search.png'); 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-position: left 5px top 5px;
  background-size: 25px;
}
.logo {
  margin-left: 10px;
   flex-basis: 60%; 
}
.title {
  flex-basis: 40%;
}
.SearchBar {
  margin-right: 10px;
}
/*----Selections------*/
.Selections {
  margin-top: 90px;
  padding-bottom: 5px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  gap: 5vw;
}

.Selections input {
  width: 40px;
  height: 40px;
}
/*----MainPosts------*/
.PostMain {
  text-align: center;
  background-color: white;

}
.Post-header {
  display: flex;
  justify-content: space-between;
}
.Post {
  margin:5px auto 5px ;
  width: 80vw;
  max-width: 1000px;
  background-color: white;
}

.Post-media .img {
  max-height: 50vh;
  min-height: 15vh;
  width: 50vw;
  height: 40vh;
  aspect-ratio: 1 / 1;
}
.Post-media .video, .youtube-container {
  max-height: 50vh;
  min-height: 15vh;
  width: 50vw;
  height: 40vh;
  aspect-ratio: 1 / 1;
}
.Post-media iframe {
  max-height: 50vh;
  min-height: 15vh;
  width: 50vw;
  height: 40vh;
  aspect-ratio: 1 / 1;
  margin-left: 15vw;
}
.Post-footer {
  display: flex;
  justify-content: space-between;
}
.Post-footer-votes {
  display:inline-flex;

}
.Post-footer-comments {
  display: inline-flex;
  gap: 5px;  
}
.Comments-image {
  width: 20px;
  height: 20px;
}